/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

a {
    color:inherit;
    text-decoration: none; /* no underline */
  }


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* main rules */

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
}

.main_container {
    flex-direction: column;
}

.marked {
    color: #24ba9f;
    font-weight: 900;
}

.button:hover {
    cursor: pointer;
    background-color: #156e5e;
}

.fas:hover {
    cursor: pointer;
    color: #156e5e;
}

/* header */

.header {
    background-color: black;
    width: 100%;
    height: 65px;
    color: white;
    padding: 0 110px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header_logo {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}



.header_nav {
    padding-right: 10px;
}

.header_nav_list {
    width: 450px;
    justify-content: space-between;
}

.header_nav_element {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    position: relative;
}

.header_nav_element:hover .header_nav_element_options{
    display: inline-block;
}

.header_nav_element_options {
    display: none;
    position: absolute;
    width: 200px;
    top: 55px;
    left: -10px;
    color: white;
    background-color: black;
    font-weight: 500;
    padding: 10px 20px;
    box-sizing: border-box;
}

.header_nav_element_options::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(45deg);
    top: -5px;
    left: 55px;
    background-color: black
    
}

.header_nav_element_options>li {
    padding: 5px;
} 

.header_nav_element:hover {
   color: #24ba9f;
   cursor: pointer;
}

/* banner */

.banner {
    background-image: linear-gradient(to bottom, #fafafa, #d1d0d8);
    height: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.banner_image {
    padding-top: 80px;
    width: 630px;
    height: auto;
}

.banner_content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 650px;
    z-index: 1;
}

.banner_content_header {
    font-size: 64px;
    font-weight: 500;
    padding-top: 20px;
}

.banner_content_text {
    font-size: 22px;
    text-align: center;
    line-height: 35px;
}
.banner_content_button {
    height: 80px;
    width: 420px;
    border: none;
    border-radius: 10px;
    font-size: 38px;
    color: white;
    background-color: #24ba9f;
    font-weight: 400;

}

.fa-chevron-left {
    font-size: 90px;
    color: #24ba9f;
    margin-left:20px;
    padding-top: 30px;
}

.fa-chevron-right {
    font-size: 90px;
    color: #24ba9f;
    padding-top: 30px;
    padding-right: 30px;
}

/* offer */

.offer {
    padding: 45px 110px;
    justify-content: space-between;
    height: 470px;
}

.offer_element {
    width: 520px;
    height: 360px;
    border: 2px solid rgba(110, 110, 110, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
}

.offer_description {
    width: 500px;
    height: 390px;
    border: 2px solid rgba(110, 110, 110, 0.2);
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.offer_first {
    background-image: url("../Warsztaty/images/box1_img.jpg");

}

.offer_second {
    background-image: url("../Warsztaty/images/box2_img.jpg");
}

.offer_title {
    background-color: white;
    opacity: 0.5;
    margin-top: 240px;
    height: 100px;

}

.offer_title_text {
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
}

.offer_title_decoration {
    background-color: #24ba9f;
    height: 10px;
    width: 220px;
    margin-left: 20px;
    margin-top: 5px;
}


.offer_description_text {
    font-size: 20px;
    margin-top: 25px;
    padding-left: 20px;
    line-height: 30px;
    padding-bottom: 15px;
}

.offer_title_text {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    line-height: inherit;
}


/* prices */

.prices {
    flex-direction: column;
    background-color: #f1f1f1;
    height: 1150px;
    padding: 0 105px;
}

/* section header */

.prices_header, .contact_header {
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 30px;
}

.prices_header_text, .contact_header_text {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
}

.prices_header_decoration, .contact_header_decoration {
    width: 500px;
    height: 13px;
    background-color: #24ba9f;
}

/* price plan */
.prices_plans {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding-right: 25px;
}

.prices_plan {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 3px solid #d3d3d3;
    background-color: #f9f9f9;
    width: 520px;
    height: 800px;
    margin-top: 85px;
    padding-top: 45px;
    padding-bottom: 25px;
    box-sizing: border-box;
    position: relative;
}

.prices_plan:before {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #c0c0c0;
    top: -35px;
    border-radius: 50%;
    z-index: 2;
}

.prices_plan:after {
    content: "";
    display: block;
    height: 85px;
    width: 85px;
    position: absolute;
    background-color: #fcfcfc;
    top: -60px;
    border-radius: 50%;
    z-index: 1;
    border: 3px solid #d3d3d3;
}


.prices_plan.prices_plan_standard:before {
    background-color:#f9f9f9;
}

.prices_plan.prices_plan_standard:after {
    background-color: #24ba9f;
}


.prices_plan_header {
    font-size: 38px;
    font-weight: 500;
    color: #24ba9f;
}

.prices_plan_price{
    background-color: #ffffff;
    border: 3px solid #d3d3d3;
    color: #9e9e9e;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-top: 45px;
}

.price_pln {
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    top: 46px;
    left: 54px;
}

.price_pln_advance.price_pln {
    left: 30px;
}

.price_gr {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 46px;
    left: 134px;
}

.price_descr {
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 130px;
    left: 40px;
}

.prices_plan_terms {
    font-size: 38px;
    text-align: center;
    margin-top: 55px;
    color: #9e9e9e;
    font-weight: 500;
    height: 280px;

}

.prices_plan_terms li {
    height: 70px;
    width: 514px;
    line-height: 70px;
}

.terms_main, .terms_warranty{
    background-color: #e4e4e4;
}
.terms_service, .terms_designer{
    background-color: #f1f1f1;
}

.prices_plan_button {
    margin-top: 40px;
    height: 55px;
    width: 200px;
    
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;

    background-color: #24ba9f;

    border: none;
    border-radius:10px;
}

.prices_plan.prices_plan_standard {
    background-color: #24ba9f;
}

.prices_plan_button.prices_plan_button_standard {
    background-color: #ffffff;
    color: #24ba9f;
}

.prices_plan_button.prices_plan_button_standard:hover {
    cursor: pointer;
    background-color: #156e5e;
    color: #ffffff;
}

.prices_plan_header.prices_plan_header_standard {
    color: #ffffff;
}

/* kontakt */

.contact {
    flex-direction: column;
    background-color: #ffffff;
    padding: 0 115px;
}

.contact_form {
    width: 100%;
    
}

.contact_form_left {
    flex-direction: column;
    width: 1010px;
    margin-top: 40px;
}

.contact_form_text {
    border: 2.5px solid rgba(36, 186, 159, 0.3);
    font-size: 50px;
    font-weight: lighter;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
    vertical-align: middle;
    color:grey;
    
}

.contact_form_text::placeholder {
    color: grey;
    opacity: 0.3;
}

.contact_form_name, .contact_form_email {
    height: 105px;
}

.contact_form_message {
    height: 300px;
}

.contact_form_right {
    flex-direction: column;
    color: grey;
    align-items: center;
    width: 650px;
    justify-content: space-between;
}

.contact_form_img {
    height: 330px;
}

.contact_form_consent {
    margin-left: 80px;
    margin-bottom: 25px;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 28px;
    padding-left: 90px;
    padding-top: 10px;
}

.contact_form_consent input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.contact_form_consent span {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    border: 2px solid rgba(36, 186, 159, 0.3);;
}

.contact_form_consent:hover input ~ span {
    border: 3px solid rgb(36, 186, 159);;
}

.contact_form_consent input:checked ~ span {
    background-image: url(../Warsztaty/images/form_ok.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }


.contact_form_submit {
    margin-bottom: 40px;
    width: 500px;
    height: 110px;
    border: none;
    border-radius: 10px;
    background-color: #24ba9f;
    font-size: 50px;
    font-weight: 700;
    color: white;

}

.footer_copyright {
    font-size: 24px;
    letter-spacing: 2px;
    padding: 120px 105px;
    margin-right: 340px;
    color: grey;
}

.footer img {
    padding-top: 100px;
    padding-right: 7px;
    width: 55px;
    height: 55px;

}

.footer_logo {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;

    padding-top: 115px;
    padding-left: 100px;
    color: grey;

}

.footer_logo .marked {
    color: grey;
}